@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ADD8E6;
  display: flex;
  justify-content: center;
}

.App {
  text-align: center;
}

h1 {
  color: black;
  margin-bottom: 10px;
  font-size: 36px;
}

.TodoWrapper {
  background: #DB7093;
  margin-top: 50px;
  padding: 50px;
  border-radius: 30px;
}

.TodoForm {
  width: 100%;
  margin-bottom: 3px;
}

.todo-input {
  outline: none;
  background: none;
  border: 3px solid black;
  padding: 7px ;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 300px;
  color: black;
  font-weight: bold;
  border-radius: 15px 0px 0px 15px;
}

.todo-input::placeholder {
  color: black;
  font-weight: bold;
}

.todo-button {
  background: black;
  color: #ADD8E6;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 0px 15px 15px 0px;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  color: #ADD8E6;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 13px;
  margin-right: 7px;
  cursor: pointer;
}

.fa-pen-to-square {
  cursor: pointer;
}

.incompleted {
  color: #ADD8E6;
  cursor: pointer;
}

.completed {
  color: white;
  text-decoration: line-through;
  cursor: pointer;
}
